:root {
    /* server title */
    --name-primary: #1425e6;
    --name-secondary: rgba(255, 255, 255, 0.637);

    /* weapon */
    --weapon-line: #D79F0F;

    /* notifys */
    --notify-background-color: rgba(3, 15, 33, 0.48);
    --notify-box-shadow: rgba(0, 0, 0, 0.32);
    /* error */
    --notify-type-error: #ED254E;
    --notify-type-error-progress: rgba(237, 37, 78, 0.80);
    /* success */
    --notify-type-success: #7DDE29;
    --notify-type-success-progress: rgba(125, 222, 41, 0.80);
    /* info */
    --notify-type-info: #1425e6;
    --notify-type-info-progress: #1425e6;
    /* warning */
    --notify-type-warning: #FF820E;
    --notify-type-warning-progress: rgba(255, 130, 14, 0.80);

    /* announce */
    --announce-lines: #31B5FF;
    --announce-lines-shadow: rgba(49, 181, 255, 0.32);
    --announce-title: #31B5FF;
    --announce-title-shadow: rgba(49, 181, 255, 0.64);

    --announce-progress-fill: #31B5FF;
    --announce-progress-box-shadow: rgba(49, 181, 255, 0.32);

    /* progressbar */
    --progressbar-color: #1425e6;
    --progressbar-color-box-shadow: rgba(1, 4, 69, 0.32);

    /* speedometer */
    --speedometer-circle: #1425e6;
    --engine-circle: #FF3131;
    --fuel-circle: #D3CF1A;

    --door-icon: #00e817;
    --door-close-icon: #c30000;

    /* funk - mic */
    --funk-active: #7DDE29;
    --funk-status: #ED254E;
    --funk-status-background: rgba(237, 37, 78, 0.32);

    --mic-active: #7DDE29;
    --mic-status: #ED254E;
    --mic-status-background: rgba(237, 37, 78, 0.32);

    /* status */
    --food-icon: #fd8d14;
    --food-progress: #fd8d14;

    --drink-progress: #48BDFF;
    --drink-icon: #48bdff;

    /* scoreboard */
    --scoreboard-background: radial-gradient(56.59% 59.78% at 65.34% 44.46%, rgba(25, 42, 52, 0.92) 0%, rgba(20, 31, 37, 0.92) 100%);
	
	/* hud settings */
	--hud-settings-background: radial-gradient(56.59% 59.78% at 65.34% 44.46%, rgba(25, 42, 52, 0.92) 0%, rgba(20, 31, 37, 0.92) 100%);
	--checkbox-checked: #7DDE29;
	--checkbox-checked-box-shadow: rgba(125, 222, 41, 0.64);

	--checkbox-unchecked: #FF3131;
	--checkbox-unchecked-box-shadow: rgba(255, 49, 49, 0.64);

    --color-scrollbar: #31b5ff;
}